In [48]:
import pandas as pd
import datetime

In [49]:
df = pd.read_csv('Datasets/COVID-19-associated_school_closures__United_States__February_18_June_30__2020.csv')
df

,UniqueID,EventName,State,DistName,DistrictNCESID,DistWeb,SchoolName,SchoolNCESID,SchoolWeb,Type,Epi_week,DateClosure,DateReopened
0,AK202010001D,COVID-19,AK,ALASKA GATEWAY SCHOOL DISTRICT,200050,http://www.agsd.us,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN
1,AK202010002D,COVID-19,AK,ALEUTIAN REGION SCHOOL DISTRICT,200010,http://www.aleutregion.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN
2,AK202010003D,COVID-19,AK,ALEUTIANS EAST BOROUGH SCHOOL DISTRICT,200007,http://www.aebsd.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN
3,AK202010004D,COVID-19,AK,ANCHORAGE SCHOOL DISTRICT,200180,http://www.asdk12.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN
4,AK202010005D,COVID-19,AK,ANNETTE ISLAND SCHOOL DISTRICT,200525,http://www.aisdk12.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16991,WA202090052S,COVID-19,WA,NaN,5307710,NaN,Cleveland High School STEM,5.307710e+11,NaN,I,11,03/11/2020 12:00:00 AM,NaN
16992,WA202090053S,COVID-19,WA,NaN,5305430,NaN,Mariner High School,5.305430e+11,NaN,I,11,03/10/2020 12:00:00 AM,NaN
16993,WA202090054S,COVID-19,WA,NaN,5305430,NaN,Challenger Elementary,5.305430e+11,NaN,I,11,03/10/2020 12:00:00 AM,NaN
16994,WA202090055S,COVID-19,WA,NaN,5900176,NaN,Lummi Elementary,5.900176e+11,http://www.lummi-k12.org/,I,11,03/10/2020 12:00:00 AM,2020-03-11T00:00:00.000
16995,WA202090056S,COVID-19,WA,NaN,5900115,NaN,Lummi High School,5.900115e+11,http://www.lummi-k12.org/,I,11,03/10/2020 12:00:00 AM,2020-03-11T00:00:00.000

In [50]:
dateClosure = df['DateClosure'].str.slice(stop=10)
df['dtClosure'] = pd.to_datetime(dateClosure, format='%m/%d/%Y')
#df['epochClosure'] = df['dtClosure'].apply(lambda x: x.timestamp())
df['epochClosure'] = df['dtClosure'].astype(int)
df

/var/folders/ty/4x_62d5519v8j9nmmkvjd6h00000gn/T/ipykernel_39356/2020283620.py:4: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['epochClosure'] = df['dtClosure'].astype(int)

,UniqueID,EventName,State,DistName,DistrictNCESID,DistWeb,SchoolName,SchoolNCESID,SchoolWeb,Type,Epi_week,DateClosure,DateReopened,dtClosure,epochClosure
0,AK202010001D,COVID-19,AK,ALASKA GATEWAY SCHOOL DISTRICT,200050,http://www.agsd.us,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN,2020-03-16,1584316800000000000
1,AK202010002D,COVID-19,AK,ALEUTIAN REGION SCHOOL DISTRICT,200010,http://www.aleutregion.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN,2020-03-16,1584316800000000000
2,AK202010003D,COVID-19,AK,ALEUTIANS EAST BOROUGH SCHOOL DISTRICT,200007,http://www.aebsd.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN,2020-03-16,1584316800000000000
3,AK202010004D,COVID-19,AK,ANCHORAGE SCHOOL DISTRICT,200180,http://www.asdk12.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN,2020-03-16,1584316800000000000
4,AK202010005D,COVID-19,AK,ANNETTE ISLAND SCHOOL DISTRICT,200525,http://www.aisdk12.org,NaN,NaN,NaN,D,12,03/16/2020 12:00:00 AM,NaN,2020-03-16,1584316800000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16991,WA202090052S,COVID-19,WA,NaN,5307710,NaN,Cleveland High School STEM,5.307710e+11,NaN,I,11,03/11/2020 12:00:00 AM,NaN,2020-03-11,1583884800000000000
16992,WA202090053S,COVID-19,WA,NaN,5305430,NaN,Mariner High School,5.305430e+11,NaN,I,11,03/10/2020 12:00:00 AM,NaN,2020-03-10,1583798400000000000
16993,WA202090054S,COVID-19,WA,NaN,5305430,NaN,Challenger Elementary,5.305430e+11,NaN,I,11,03/10/2020 12:00:00 AM,NaN,2020-03-10,1583798400000000000
16994,WA202090055S,COVID-19,WA,NaN,5900176,NaN,Lummi Elementary,5.900176e+11,http://www.lummi-k12.org/,I,11,03/10/2020 12:00:00 AM,2020-03-11T00:00:00.000,2020-03-10,1583798400000000000
16995,WA202090056S,COVID-19,WA,NaN,5900115,NaN,Lummi High School,5.900115e+11,http://www.lummi-k12.org/,I,11,03/10/2020 12:00:00 AM,2020-03-11T00:00:00.000,2020-03-10,1583798400000000000

In [51]:
dfmeans = df.groupby(['State']).mean()
dfmeans

       DistrictNCESID  SchoolNCESID   Epi_week  epochClosure
State
AK       2.004139e+05           NaN  12.000000  1.584317e+18
AL       1.016558e+05           NaN  12.000000  1.584576e+18
AR       5.060939e+05           NaN  11.885496  1.584363e+18
AZ       4.019153e+05           NaN  11.997015  1.584316e+18
CA       6.245582e+05  6.215759e+10  11.984496  1.584392e+18
CO       8.054095e+05  8.024500e+10  12.365079  1.584554e+18
CT       9.023900e+05  9.032400e+10  11.917476  1.584369e+18
DC       1.100061e+06  1.100072e+11  11.885714  1.584256e+18
DE       1.000372e+06  1.000038e+11  11.955556  1.584298e+18
FL       1.201033e+06  1.200870e+11  11.987013  1.584312e+18
GA       1.302467e+06  1.301290e+11  11.935185  1.584356e+18
HI       1.500030e+06           NaN  13.000000  1.584922e+18
IA       1.916518e+06           NaN  12.036036  1.584374e+18
ID       1.601243e+06           NaN  12.097561  1.584486e+18
IL       1.719516e+06  1.710950e+11  11.991675  1.584399e+18
IN       1.804760e+06           NaN  11.997512  1.584639e+18
KS       2.007289e+06           NaN  11.996552  1.584445e+18
KY       2.102918e+06           NaN  11.965909  1.584306e+18
LA       2.200880e+06           NaN  11.994975  1.584315e+18
MA       2.505908e+06  2.507685e+11  11.906921  1.584362e+18
MD       2.400372e+06  2.400510e+11  11.925926  1.584291e+18
ME       2.309748e+06  2.302730e+11  12.017857  1.584348e+18
MI       2.616594e+06  2.604415e+11  11.847007  1.584277e+18
MN       2.712452e+06           NaN  11.994318  1.584486e+18
MO       2.917085e+06           NaN  11.991071  1.584525e+18
MS       2.802360e+06           NaN  11.993631  1.584362e+18
MT       3.014085e+06           NaN  12.000000  1.584317e+18
NC       3.701107e+06           NaN  12.000000  1.584317e+18
ND       3.808611e+06           NaN  12.000000  1.584317e+18
NE       3.138732e+06  3.172840e+11  12.288538  1.584548e+18
NH       3.312980e+06  3.303885e+11  11.959799  1.584300e+18
NJ       3.408191e+06           NaN  11.965361  1.584450e+18
NM       3.500871e+06           NaN  12.000000  1.584317e+18
NV       3.200244e+06  3.200480e+11  11.904762  1.584276e+18
NY       3.611763e+06  3.610292e+11  11.966699  1.584426e+18
OH       3.903471e+06  3.904454e+11  11.984472  1.584396e+18
OK       4.016783e+06           NaN  12.000000  1.584403e+18
OR       4.106443e+06  4.107230e+11  11.985222  1.584310e+18
PA       4.214058e+06  4.212882e+11  11.955345  1.584299e+18
RI       4.400367e+06  4.400300e+11  11.935484  1.584279e+18
SC       4.502379e+06           NaN  12.000000  1.584317e+18
SD       4.636323e+06           NaN  11.993333  1.584314e+18
TN       4.702092e+06           NaN  11.952703  1.584633e+18
TX       4.822821e+06           NaN  12.719269  1.584755e+18
UT       4.900236e+06           NaN  12.000000  1.584317e+18
VA       5.102091e+06           NaN  11.992537  1.584314e+18
VT       5.005055e+06  5.000407e+11  11.981481  1.584474e+18
WA       5.308263e+06  5.341778e+11  11.780282  1.584280e+18
WI       5.508058e+06           NaN  11.997758  1.584488e+18
WV       5.400840e+06           NaN  12.000000  1.584317e+18
WY       5.611494e+06           NaN  12.000000  1.584400e+18

In [52]:
dfmeans['ClosureDate'] = pd.to_datetime(dfmeans['epochClosure'])
dfmeans = dfmeans.sort_values(by=['epochClosure'])
dfmeans = dfmeans.reset_index()
dfFinal = dfmeans[['State', 'ClosureDate']]
dfFinal

   State                   ClosureDate
0     DC 2020-03-15 07:12:00.000000000
1     NV 2020-03-15 12:34:17.142857216
2     MI 2020-03-15 12:55:52.549889024
3     RI 2020-03-15 13:32:54.193548288
4     WA 2020-03-15 13:43:26.197182976
5     MD 2020-03-15 16:53:20.000000000
6     DE 2020-03-15 18:40:00.000000000
7     PA 2020-03-15 18:57:58.213802496
8     NH 2020-03-15 19:17:47.336683520
9     KY 2020-03-15 20:51:49.090909184
10    OR 2020-03-15 21:59:24.532019712
11    FL 2020-03-15 22:45:11.688311808
12    SD 2020-03-15 23:12:00.000000000
13    VA 2020-03-15 23:17:00.895522304
14    LA 2020-03-15 23:31:03.316582912
15    AZ 2020-03-15 23:47:06.268656640
16    ND 2020-03-16 00:00:00.000000000
17    NC 2020-03-16 00:00:00.000000000
18    AK 2020-03-16 00:00:00.000000000
19    WV 2020-03-16 00:00:00.000000000
20    SC 2020-03-16 00:00:00.000000000
21    UT 2020-03-16 00:00:00.000000000
22    NM 2020-03-16 00:00:00.000000000
23    MT 2020-03-16 00:00:00.000000256
24    ME 2020-03-16 08:40:42.857142784
25    GA 2020-03-16 10:53:20.000000000
26    MA 2020-03-16 12:32:38.949880576
27    MS 2020-03-16 12:41:16.433121024
28    AR 2020-03-16 12:54:57.709923584
29    CT 2020-03-16 14:33:47.184465920
30    IA 2020-03-16 15:51:21.081081088
31    CA 2020-03-16 20:55:48.837209344
32    OH 2020-03-16 21:59:15.279503104
33    IL 2020-03-16 22:54:04.120707584
34    WY 2020-03-16 23:09:28.421052672
35    OK 2020-03-17 00:00:00.000000000
36    NY 2020-03-17 06:25:02.056806912
37    KS 2020-03-17 11:40:08.275862016
38    NJ 2020-03-17 12:56:23.132530176
39    VT 2020-03-17 19:46:40.000000000
40    MN 2020-03-17 23:05:27.272727296
41    ID 2020-03-17 23:07:19.024390144
42    WI 2020-03-17 23:34:10.224215296
43    MO 2020-03-18 09:54:00.000000000
44    NE 2020-03-18 16:18:58.339920896
45    CO 2020-03-18 17:46:40.000000000
46    AL 2020-03-19 00:00:00.000000000
47    TN 2020-03-19 15:43:47.027026944
48    IN 2020-03-19 17:22:23.283581952
49    TX 2020-03-21 01:50:01.993355520
50    HI 2020-03-23 00:00:00.000000000

In [ ]:
dfFinal.to_csv('AverageSchoolClosure.csv')