In [2]:
import pandas as pd
from sodapy import Socrata

In [4]:
client = Socrata("data.cdc.gov", None)
results = client.get("q3t8-zr7t", limit=1000000)

df = pd.DataFrame.from_records(results)
df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,figure,setting,time,start_time,end_time,value,measure,indicator,group,subgroup
0,0,ED,12,2020-03-18T00:00:00.000,2020-03-24T00:00:00.000,20212,Number of encounters,NaN,NaN,NaN
1,0,ED,13,2020-03-25T00:00:00.000,2020-03-31T00:00:00.000,16657,Number of encounters,NaN,NaN,NaN
2,0,ED,14,2020-04-01T00:00:00.000,2020-04-07T00:00:00.000,14550,Number of encounters,NaN,NaN,NaN
3,0,ED,15,2020-04-08T00:00:00.000,2020-04-14T00:00:00.000,14148,Number of encounters,NaN,NaN,NaN
4,0,ED,16,2020-04-15T00:00:00.000,2020-04-21T00:00:00.000,14667,Number of encounters,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
30630,8,IP,148,2022-10-26T00:00:00.000,2022-11-01T00:00:00.000,29.8,Percent,Confirmed COVID-19 with pneumonia,Total,Total
30631,8,IP,149,2022-11-02T00:00:00.000,2022-11-08T00:00:00.000,24.7,Percent,Confirmed COVID-19 with pneumonia,Total,Total
30632,8,IP,150,2022-11-09T00:00:00.000,2022-11-15T00:00:00.000,24.7,Percent,Confirmed COVID-19 with pneumonia,Total,Total
30633,8,IP,151,2022-11-16T00:00:00.000,2022-11-22T00:00:00.000,26.5,Percent,Confirmed COVID-19 with pneumonia,Total,Total
30634,8,IP,152,2022-11-23T00:00:00.000,2022-11-29T00:00:00.000,28.7,Percent,Confirmed COVID-19 with pneumonia,Total,Total

In [6]:
df = df[['group', 'subgroup', 'value', 'start_time','measure']]
df = df.rename(columns={'group': 'Group',
                        'subgroup': 'Subgroup',
                        'value': 'Value',
                        'start_time': 'Start_Time',
                        'measure': 'Measure'})

In [7]:
df = df[df['Measure'] == 'Average length of stay (days)']

In [8]:
df1 = df[df['Group'] == 'Discharge Status']
df = df[df['Group'] == 'Age']

In [9]:
df = df.reset_index()
df = df.drop('index', axis=1)
df = df.drop('Measure', axis=1)

df1 = df1.reset_index()
df1 = df1.drop('index', axis=1)
df1 = df1.drop('Measure', axis=1)

In [75]:
df
df.to_csv('Datasets/AvgLengthOfStaysAge.csv')

In [76]:
df1
df1.to_csv('Datasets/AvgLengthOfStaysDischargeStatus.csv')