In [110]:
import pandas as pd
import matplotlib.pyplot as plt

In [111]:
deathsByState = pd.read_csv("Datasets\Provisional_COVID-19_Death_Counts_in_the_United_States_by_County.csv")

In [112]:
#rename columns to match
deathsByState = deathsByState.rename(columns={"FIPS County Code": "FIPS", "County name": "County"})

In [113]:
#drops rows with no covid deaths
deathsByState.dropna(subset=['Deaths involving COVID-19'], inplace=True)
deathsByState

,Date as of,Start Date,End Date,State,County,FIPS,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
1,01/25/2023,01/01/2020,01/21/2023,AK,Anchorage Municipality,2020,Medium metro,748.0,7735.0,NaN
2,01/25/2023,01/01/2020,01/21/2023,AK,Bethel Census Area,2050,Noncore,39.0,344.0,NaN
5,01/25/2023,01/01/2020,01/21/2023,AK,Fairbanks North Star Borough,2090,Small metro,193.0,1846.0,NaN
7,01/25/2023,01/01/2020,01/21/2023,AK,Juneau City and Borough,2110,Micropolitan,18.0,580.0,NaN
8,01/25/2023,01/01/2020,01/21/2023,AK,Kenai Peninsula Borough,2122,Noncore,90.0,1327.0,NaN
...,...,...,...,...,...,...,...,...,...,...
3082,01/25/2023,01/01/2020,01/21/2023,WY,Sweetwater County,56037,Micropolitan,109.0,1041.0,NaN
3083,01/25/2023,01/01/2020,01/21/2023,WY,Teton County,56039,Micropolitan,19.0,295.0,NaN
3084,01/25/2023,01/01/2020,01/21/2023,WY,Uinta County,56041,Micropolitan,23.0,466.0,NaN
3085,01/25/2023,01/01/2020,01/21/2023,WY,Washakie County,56043,Noncore,30.0,250.0,NaN
3086,01/25/2023,01/01/2020,01/21/2023,WY,Weston County,56045,Noncore,12.0,208.0,NaN

In [114]:
#drop unnecessary columns
deathsByState.drop(['Footnote', 'Deaths from All Causes'], axis=1, inplace=True)
deathsByState

,Date as of,Start Date,End Date,State,County,FIPS,Urban Rural Code,Deaths involving COVID-19
1,01/25/2023,01/01/2020,01/21/2023,AK,Anchorage Municipality,2020,Medium metro,748.0
2,01/25/2023,01/01/2020,01/21/2023,AK,Bethel Census Area,2050,Noncore,39.0
5,01/25/2023,01/01/2020,01/21/2023,AK,Fairbanks North Star Borough,2090,Small metro,193.0
7,01/25/2023,01/01/2020,01/21/2023,AK,Juneau City and Borough,2110,Micropolitan,18.0
8,01/25/2023,01/01/2020,01/21/2023,AK,Kenai Peninsula Borough,2122,Noncore,90.0
...,...,...,...,...,...,...,...,...
3082,01/25/2023,01/01/2020,01/21/2023,WY,Sweetwater County,56037,Micropolitan,109.0
3083,01/25/2023,01/01/2020,01/21/2023,WY,Teton County,56039,Micropolitan,19.0
3084,01/25/2023,01/01/2020,01/21/2023,WY,Uinta County,56041,Micropolitan,23.0
3085,01/25/2023,01/01/2020,01/21/2023,WY,Washakie County,56043,Noncore,30.0
3086,01/25/2023,01/01/2020,01/21/2023,WY,Weston County,56045,Noncore,12.0

In [115]:
#group by state, county, fips, urabn rural code, and sum deaths
deathsByState = deathsByState.groupby(['State', 'County', 'FIPS', 'Urban Rural Code'])['Deaths involving COVID-19'].sum()
deathsByState

State  County                        FIPS   Urban Rural Code
AK     Anchorage Municipality        2020   Medium metro        748.0
       Bethel Census Area            2050   Noncore              39.0
       Fairbanks North Star Borough  2090   Small metro         193.0
       Juneau City and Borough       2110   Micropolitan         18.0
       Kenai Peninsula Borough       2122   Noncore              90.0
                                                                ...
WY     Sweetwater County             56037  Micropolitan        109.0
       Teton County                  56039  Micropolitan         19.0
       Uinta County                  56041  Micropolitan         23.0
       Washakie County               56043  Noncore              30.0
       Weston County                 56045  Noncore              12.0
Name: Deaths involving COVID-19, Length: 2730, dtype: float64

In [116]:
vaccsByCounty = pd.read_csv("Datasets\COVID-19_Vaccinations_in_the_United_States_County.csv")

C:\Users\tiatm\AppData\Local\Temp\ipykernel_25268\2226166534.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  vaccsByCounty = pd.read_csv("Datasets\COVID-19_Vaccinations_in_the_United_States_County.csv")

In [117]:
vaxPerCounty = pd.DataFrame ({
    "Date": vaccsByCounty['Date'],
    "FIPS": vaccsByCounty['FIPS'],
    "County": vaccsByCounty['Recip_County'],
    "State": vaccsByCounty['Recip_State'],
    "Total_Vaccinated": vaccsByCounty['Series_Complete_Yes']
})

vaxPerCounty

               Date   FIPS             County State  Total_Vaccinated
0        01/25/2023  20003    Anderson County    KS            3543.0
1        01/25/2023  05115        Pope County    AR           33013.0
2        01/25/2023  30073     Pondera County    MT            3355.0
3        01/25/2023  31123     Morrill County    NE            1701.0
4        01/25/2023  39141        Ross County    OH           40090.0
...             ...    ...                ...   ...               ...
1913531  12/13/2020  40049      Garvin County    OK               0.0
1913532  12/13/2020  18015     Carroll County    IN               0.0
1913533  12/13/2020  30093  Silver Bow County    MT               0.0
1913534  12/13/2020   5135       Sharp County    AR               0.0
1913535  12/13/2020  21011        Bath County    KY               0.0

[1913536 rows x 5 columns]

In [118]:
#drop rows with a date value that isnt 01/25/2023 or later
vaxPerCounty = vaxPerCounty[(vaxPerCounty[['Date']] == '01/25/2023').all(axis=1)]
vaxPerCounty

            Date   FIPS            County State  Total_Vaccinated
0     01/25/2023  20003   Anderson County    KS            3543.0
1     01/25/2023  05115       Pope County    AR           33013.0
2     01/25/2023  30073    Pondera County    MT            3355.0
3     01/25/2023  31123    Morrill County    NE            1701.0
4     01/25/2023  39141       Ross County    OH           40090.0
...          ...    ...               ...   ...               ...
3278  01/25/2023  48489    Willacy County    TX           14585.0
3279  01/25/2023  29029     Camden County    MO           21936.0
3280  01/25/2023  01035    Conecuh County    AL            5463.0
3281  01/25/2023  01115  St. Clair County    AL           36199.0
3282  01/25/2023  54091     Taylor County    WV            8113.0

[3283 rows x 5 columns]

In [119]:
#drop rows with 0 vaccines
vaxPerCounty = vaxPerCounty[(vaxPerCounty[['Total_Vaccinated']] != 0).all(axis=1)]
vaxPerCounty.dropna(subset=['Total_Vaccinated'], inplace=True)
vaxPerCounty

            Date   FIPS            County State  Total_Vaccinated
0     01/25/2023  20003   Anderson County    KS            3543.0
1     01/25/2023  05115       Pope County    AR           33013.0
2     01/25/2023  30073    Pondera County    MT            3355.0
3     01/25/2023  31123    Morrill County    NE            1701.0
4     01/25/2023  39141       Ross County    OH           40090.0
...          ...    ...               ...   ...               ...
3278  01/25/2023  48489    Willacy County    TX           14585.0
3279  01/25/2023  29029     Camden County    MO           21936.0
3280  01/25/2023  01035    Conecuh County    AL            5463.0
3281  01/25/2023  01115  St. Clair County    AL           36199.0
3282  01/25/2023  54091     Taylor County    WV            8113.0

[3266 rows x 5 columns]

In [120]:
#sort alphabetically by county
vaxPerCounty.sort_values(by=['State'], inplace=True)
vaxPerCounty

,Date,FIPS,County,State,Total_Vaccinated
1066,01/25/2023,02020,Anchorage Municipality,AK,204218.0
3144,01/25/2023,02240,Southeast Fairbanks Census Area,AK,2963.0
1851,01/25/2023,02170,Matanuska-Susitna Borough,AK,45989.0
1598,01/25/2023,UNK,Unknown County,AK,12163.0
1847,01/25/2023,02060,Bristol Bay Borough,AK,954.0
...,...,...,...,...,...
1251,01/25/2023,56037,Sweetwater County,WY,22304.0
2758,01/25/2023,56021,Laramie County,WY,58842.0
2398,01/25/2023,56009,Converse County,WY,4893.0
2940,01/25/2023,56045,Weston County,WY,2702.0
853,01/25/2023,56003,Big Horn County,WY,4832.0

In [121]:
#drop rows with UNK fips
vaxPerCounty = vaxPerCounty[vaxPerCounty.FIPS != 'UNK']
vaxPerCounty

,Date,FIPS,County,State,Total_Vaccinated
1066,01/25/2023,02020,Anchorage Municipality,AK,204218.0
3144,01/25/2023,02240,Southeast Fairbanks Census Area,AK,2963.0
1851,01/25/2023,02170,Matanuska-Susitna Borough,AK,45989.0
1847,01/25/2023,02060,Bristol Bay Borough,AK,954.0
2466,01/25/2023,02195,Petersburg Census Area,AK,2568.0
...,...,...,...,...,...
1251,01/25/2023,56037,Sweetwater County,WY,22304.0
2758,01/25/2023,56021,Laramie County,WY,58842.0
2398,01/25/2023,56009,Converse County,WY,4893.0
2940,01/25/2023,56045,Weston County,WY,2702.0
853,01/25/2023,56003,Big Horn County,WY,4832.0

In [122]:
#group by total vaccinated and sum
vaxPerCounty = vaxPerCounty.groupby(['County', 'State', 'FIPS'])['Total_Vaccinated'].sum()
vaxPerCounty

County            State  FIPS
Abbeville County  SC     45001     10228.0
Acadia Parish     LA     22001     33553.0
Accomack County   VA     51001     24702.0
Ada County        ID     16001    323930.0
Adair County      IA     19001      3615.0
                                    ...
Yuma County       AZ     04027    163436.0
                  CO     08125      4542.0
Zapata County     TX     48505      8660.0
Zavala County     TX     48507      6233.0
Ziebach County    SD     46137      1071.0
Name: Total_Vaccinated, Length: 3208, dtype: float64

In [123]:
#merge dataframes
merged = pd.merge(vaxPerCounty, deathsByState, on=['County', 'State'])
merged.reset_index(inplace=True)
merged

                County State  Total_Vaccinated  Deaths involving COVID-19
0     Abbeville County    SC           10228.0                       39.0
1        Acadia Parish    LA           33553.0                      165.0
2      Accomack County    VA           24702.0                      100.0
3           Ada County    ID          323930.0                     1661.0
4         Adair County    IA            3615.0                       35.0
...                ...   ...               ...                        ...
2714       Yuba County    CA           44940.0                      306.0
2715       Yuma County    AZ          163436.0                     1159.0
2716       Yuma County    CO            4542.0                       20.0
2717     Zapata County    TX            8660.0                       10.0
2718    Ziebach County    SD            1071.0                       13.0

[2719 rows x 4 columns]

In [124]:
#remove county, parish and scity from county names
merged["County"] = merged["County"].str.replace("\sCounty", "")
merged["County"] = merged["County"].str.replace("\sParish", "")
merged["County"] = merged["County"].str.replace("\scity", "")

C:\Users\tiatm\AppData\Local\Temp\ipykernel_25268\871161649.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  merged["County"] = merged["County"].str.replace("\sCounty", "")
C:\Users\tiatm\AppData\Local\Temp\ipykernel_25268\871161649.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  merged["County"] = merged["County"].str.replace("\sParish", "")
C:\Users\tiatm\AppData\Local\Temp\ipykernel_25268\871161649.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  merged["County"] = merged["County"].str.replace("\scity", "")

In [125]:
#merge with county incomes by county
countyIncome = pd.read_csv("Datasets\countyincome.csv")
merged2 = pd.merge(merged, countyIncome, on=['County'])
merged2

,County,State,Total_Vaccinated,Deaths involving COVID-19,2019,2020,2021
0,Abbeville,SC,10228.0,39.0,34990,38094,40596
1,Acadia,LA,33553.0,165.0,39740,43800,45805
2,Accomack,VA,24702.0,100.0,48224,51730,57520
3,Ada,ID,323930.0,1661.0,54866,58976,62610
4,Adair,IA,3615.0,35.0,49947,54324,61765
...,...,...,...,...,...,...,...
13414,Yuma,AZ,163436.0,1159.0,37624,42732,44299
13415,Yuma,CO,4542.0,20.0,44269,41615,48898
13416,Yuma,CO,4542.0,20.0,37624,42732,44299
13417,Zapata,TX,8660.0,10.0,29858,29865,33288
13418,Ziebach,SD,1071.0,13.0,20352,27459,30532

In [126]:

#get rid of repeat counties
merged2.drop_duplicates(subset=['County', 'State'], keep='first', inplace=True)
merged2

,County,State,Total_Vaccinated,Deaths involving COVID-19,2019,2020,2021
0,Abbeville,SC,10228.0,39.0,34990,38094,40596
1,Acadia,LA,33553.0,165.0,39740,43800,45805
2,Accomack,VA,24702.0,100.0,48224,51730,57520
3,Ada,ID,323930.0,1661.0,54866,58976,62610
4,Adair,IA,3615.0,35.0,49947,54324,61765
...,...,...,...,...,...,...,...
13412,Yuba,CA,44940.0,306.0,41443,45806,48984
13413,Yuma,AZ,163436.0,1159.0,44269,41615,48898
13415,Yuma,CO,4542.0,20.0,44269,41615,48898
13417,Zapata,TX,8660.0,10.0,29858,29865,33288
13418,Ziebach,SD,1071.0,13.0,20352,27459,30532

In [127]:
#make csv
merged2.to_csv('Datasets\countyVaccsVSCountyDeaths.csv', index=False)